.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{user.display_name} (#{user.display_age || '?歳'}・#{i18n_gender(user)})
        .profilePage_user_actionButton
          - if user == current_user
            = link_to 'Edit', edit_profile_path
          - elsif current_user&.has_followed?(user)
            = link_to 'Unfollow', following_path(account_id: user.id, id: current_user.following_relationships.find_by(following_id: user.id).id), data: { turbo_method: :delete }
          - else
            = link_to 'Follow', followings_path(user), data: { turbo_method: :post }

      .profilePage_user_introduction
        %p= user.profile&.introduction

.container
  - user.articles.each do |article|
    = render partial: 'commons/articles_index', locals: { article: article }
